.auth__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}

.auth-inpGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth__label {
    border: 1px solid var(--date-gray);
    padding: 6px 13px;
    border-radius: 5px;
    transition: border-color .4s ease;
}

.auth__input {
    width: 100%;
    border: none;
}

.auth__input:focus-visible {
    outline: none;
}

.auth__label:has(.auth__input:focus-visible ){
    border-color: var(--orange-color);
}

.auth__err {
    display: flex;
    margin: 0;
    text-align: center;
}

.auth__err-none {
    display: none;
}

.error .auth__label {
    border-color: red;
}