:root {
    --white-color: #fff;
    --light-gray-color: #F5F5F5;
    --row-gray: #E8E8E8;
    --date-gray: #AAAAAA;
    --text-gray: #A4A4A4;
    --settings: #C4C4C4;
    --light-black-color: #11253D;
    --text-black: #171717;
    --orange-color:#FC6D3E; 
}