
#auth {
    position: absolute;
    margin-inline: auto;
    inset-inline: 0;
    inset-block-start: 50%;
    transform: translateY(-50%);
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 20px;
    border-radius: 25px;

    max-width: 25%;
    min-width: 390px;
    background-color: var(--white-color);
}

.auth__title {
    margin: 0;
    font-size: 1.3em;
    text-align: center;
}

.auth__notice {
    margin: 0;
    font-size: 0.9em;
    text-align: center;
}

.auth__btn {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.button__auth {
    font-size: 18px;
    line-height:14px;
    padding: 12px 30px;
    background-color: var(--light-gray-color);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color .4s ease-in-out, transform .4s ease-in-out;
}



.button__auth:hover,
.button__auth:focus-visible {
    outline: none;
    background-color: #fc6d3e50;
    transform: scale(1.05);
}

#submit-button {
    color: #fc6d3ec4;
}

#submit-button:disabled {
    opacity: 0.5;
}

#submit-button:disabled:hover {
    transform: scale(1);
    background-color: var(--light-gray-color);
}

@media (max-width: 767px) {
    #auth {
        max-width: 70%;
        min-width: 300px;
    }
    
    
}

@media (max-width: 576px) {
    .auth__btn {
        flex-direction: column;
    }

}
